langchain
langchain-community
langchain-core
python-dotenv
streamlit
langchain-huggingface
langchain-groq
langchain-chroma
sentence-transformers
pypdf
chromadb==0.5.0
numpy<2.0
protobuf==4.25.3
unstructured
docx2txt
openpyxl
pandas